CompileFlags:
  Add: 
    - -std=c++23
    - -I${project_root}
    - -I${project_root}/build_debug
    - -I${project_root}/build_debug/proto
    - -I${project_root}/third_party/userver
    - -Wno-builtin-definition
  Remove: []
  CompilationDatabase: build_debug/

Diagnostics:
  ClangTidy:
    Add: 
      - modernize-*
      - bugprone-*
      - performance-*
      - readability-*
    Remove:
      - bugprone-easily-swappable-parameters
      - readability-identifier-length
      - modernize-use-trailing-return-type

Index:
  Background: Build
