CompileFlags:
  Add: 
    - -std=c++20
    - -I${project_root}
    - -I${project_root}/build_debug
    - -I${project_root}/build_debug/proto
    - -I${project_root}/third_party/userver
  Remove: []
  CompilationDatabase: build_debug/

Diagnostics:
  ClangTidy:
    Add: 
      - modernize-*
      - bugprone-*
      - performance-*

Index:
  Background: Build
